<h2>Shouts</h2>

<%= form_for @text_subject do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Shout" %>
<% end %>

<%= form_for @image_subject do |form| %>
  <%= form.text_field :url %>
  <%= form.submit "Image shout" %>
<% end %>

<%= render @timeline %>
<%= paginate @timeline %>
