<h2>Shouts</h2>

<%= form_for @shout do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Shout" %>
<% end %>

<% @timeline.each do |shout| %>
  <p><%= shout.user.email %> : <%= shout.body %></p>
<% end %>
